.chat-message-list {
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scrollbar-width: none;
}

.chat-message-list::-webkit-scrollbar {
  width: 0;
}

.chat-message-list.show-scrollbar {
  scrollbar-width: thin;
}

.chat-message-list.show-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.chat-message-list-item {
  width: 100%;
}

.chat-message-list-empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
